<div class="components">
  <button   class="btn btn-normal"  (click)="loadcomp1()"><u style="color: rgb(23, 26, 29);">comp1</u></button>
  <button  class="btn btn-normal" (click)="loadcomp2()"><u style="color: rgb(23, 26, 29);">comp2</u></button>
  <button  class="btn btn-normal" (click)="loadcomp3()"><u style="color: rgb(23, 26, 29);">comp3</u></button>
  <button  class="btn btn-normal"  (click)="loadcomp4()"><u style="color: rgb(23, 26, 29);">comp4</u></button>
  <button  class="btn btn-normal" (click)="loadcomp5()"><u style="color: rgb(23, 26, 29);">comp5</u></button>
  <!-- <button  class="btn btn-normal" (click)="loadcomp2()"><u style="color: rgb(23, 26, 29);">comp2</u></button> -->
</div>